<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>mode</title>
    <script src="https://cdn.staticfile.org/jquery/1.11.2/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <script src="/static/js/tools.js"></script>
    <script src="/static/js/copy.js"></script>
    <script src="/static/js/toast.js"></script>
    <script src="/static/js/assi.js"></script>
    <style>
        .mapboxgl-ctrl-bottom-left {
            z-index: inherit;
        }
        div {
            user-select: none;
        }
    </style>
</head>
<body style="background-color: rgb(70,70,70);">
    <div id="all" style="width: 100%; min-height: 100vh;" ></div>
    <script src="/static/js/test.js"></script>
</body>
</html>